<%- include('partials/header') %>

<div class="left-container">
    <h1 class="home-title">Secret<br/>Keeper</h1>
    <img class="home-logo" src="logo.png" alt="picture of a locked folder">
    <p class="home-para">Securing Secrets,<br/>Ensuring Trust.</p>
    <button class="start-btn" onclick="window.location.href='/login'">Member Login</button>
    <button class="start-btn" onclick="window.location.href='/register'">Create Account</button>
</div>

<%- include('partials/footer') %>