<%- include('partials/header') %>

<div class="home-container">

    <h1 class="home-title">Secret Keeper</h1>
    <img class="home-logo" src="logo.png" alt="picture of a locked folder">
    <p class="home-para">Securing Secrets,<br/>Ensuring Trust.</p>

    <div class="home-btn-container">
        <button class="home-login-btn" onclick="window.location.href='/login'">Login</button>
        <button class="home-register-btn" onclick="window.location.href='/register'">Register</button>
    </div>

</div>

<%- include('partials/footer') %>