<%- include('partials/header') %>

<div class="secrets-container">

    <h1 class="home-title">My Secrets</h1>
    <textarea class="textarea" maxlength="1000" autofocus></textarea>
    <input type="submit" value="Save">

</div>

<%- include('partials/footer') %>