<%- include('partials/header') %>

<div class="secrets-container">

    <form action="/secret" method="POST"> 
        <textarea class="textarea" name="secret" maxlength="1000" autofocus><%= secret %></textarea>
        <input type="submit" value="Save">
    </form>

</div>

<%- include('partials/footer') %>