html{
    background-color: rgb(97, 209, 197);
}

body{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    width: 50%;
    margin:0 auto;
    padding: 10px; 
}

.home-logo {
    height: auto; 
    width: 30%; 
}

.home-title{
    font-size: 3.5rem;
    text-align: center;
}

.home-para{
    text-align: center;
    font-size: 2rem;
}

.home-btn-container{
    display: flex;
    gap: 10px;
}

.home-login-btn,
.home-register-btn {
    background-color: rgb(36, 43, 248);
    color: #ffffff;
    width: 80%;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
}

@media (max-width:400px){
    .home-container{
        width:100%;
    }
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    margin-top: 0;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    width: 100%;
    background-color: #1018fc;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #41db41;
}